@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<ul>
    <li>@Html.ActionLink("Owners", "Index", new { controller = "Owner", action = "Index" })</li>
    <li>@Html.ActionLink("Vets", "Index", new { controller = "Vet", action = "Index" })</li>
    <li>@Html.ActionLink("Weather", "Index", new { controller = "Weather", action = "Index" })</li>
</ul>

